.site-footer {
  background-color: #f8f0fa;
  color: #5b2c91;
  padding: 40px 20px 20px;
  font-family: 'MinhaFonte', sans-serif;
  border-top: 2px solid #d7b0e1;

}

.footer-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
}

.footer-logo h2 {
  font-size: 1.8rem;
  color: #AD246A;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 0.95rem;
  color: #555;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links h4,
.footer-social h4 {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #AD246A;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #FFA3C1;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #d90bc3;
}

.social-icons a {
  color: #FFA3C1;
  font-size: 1.4rem;
  margin-right: 12px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #d90bc3;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 0.85rem;
  color: #888;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}
