header {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1000;
}


.header-content {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.logo {
  margin: 0;
  padding: 0.4rem;
  font-family: 'Clicker Script';
  font-size: 3.5rem;
  color: white;
  background: linear-gradient(135deg, #c084fc 35%, #f472b6 60%, white 85%); /* roxo + rosa */
  border-radius: 1rem;
  letter-spacing: 2px;
  margin-right: 3rem;
  max-width: 100%
}

.logo-container {
  margin-bottom: 1rem;
}

.menu {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #5B2C91;
  font-weight: bold;
}



.menu-toggle {
  width: 100%;
  display: none;
  background: var(--cor-gradiente-primaria); /* roxo + rosa */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  align-items: center;

}


.menu ul li {
  position: relative; /* necessário para posicionar o submenu */
}

.menu ul li a {
  text-decoration: none;
  color: #AD246A;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
}

/* Submenu escondido inicialmente */
.submenu {
  display: none;
  position: absolute;
  top: 100%; /* aparece logo abaixo */
  left: 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
  z-index: 1000;
  padding: 10px 0;
  min-width: 150px;
}

/* Mostra o submenu ao passar o mouse sobre o <li> pai */
.menu ul li:hover > .submenu {
  display: block;
}

/* Estilo dos links dentro do submenu */
.submenu li a {
  padding: 8px 20px;
  display: block;
  color: #5B2C91;
  white-space: nowrap;
}

.submenu li a:hover {
  background-color: #f3e8ff;
}

@media (max-width: 768px) {
  .header-top {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
      background: linear-gradient(135deg, #c084fc 35%, #f472b6 67%, white 91%); /* roxo + rosa */
  }

  .logo-container {
    grid-template-columns: 2fr 1fr; /* 50% + 50% */
    margin-bottom: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;

  }
  .logo {
    font-size: 2rem;
    max-width: 100%
  }

}




@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    font-size: 40px;
  }

  nav.menu {
    display: none;
    flex-direction: column;

    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border-bottom: 1px solid #eee;
    z-index: 999;
  }

  nav.menu.active {
    display: flex;
  }

  nav.menu > ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .submenu {
    display: none;
  }

  .menu li.open .submenu {
    display: block;
  }

  .menu ul li {
    width: 100%;
    text-align: center;
  }

  .menu ul li a {
    width: 100%;
    display: block;
  }
}


nav.menu > ul {
  display: flex;
  align-items: center;
  gap: 50px;
}



nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  background: var(--cor-gradiente-primaria); /* roxo + rosa */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}


@media (max-width: 768px) {
  .submenu {
    display: none;
  }

  .menu li.open .submenu {
    display: block;
  }

  .menu ul {
    width: 100%;
  }

  .menu ul li {
    width: 100%;
    text-align: center;
  }
}
